<!-- Carrito -->
<div class="container mt-5">
  <h1 class="text-center" style="font-weight: bold;">Carrito de Compra</h1>

  @if (!cart) {
    <div class="d-flex justify-content-center align-items-center mb-5 mt-3">
      <img src="cart.png" alt="Carrito vacío" class="img-fluid mt-3 mb-3" />
    </div>
  } @else {
    <div class="row mt-5 justify-content-center">
      <div class="col-md-8 mt-4">
        @for (producto of productos; track producto._id) {
          <div class="d-flex justify-content-between align-items-center border-bottom py-2 gap-4">
            <h4 class="text-secondary-emphasis m-0 flex-grow-1">{{ producto.name }}</h4>
            <input type="number"
                   min="1"
                   class="form-control text-center"
                   style="width: 70px;"
                   [value]="producto.cantidad"
                   (change)="actualizarCantidad(producto, $any($event.target).value)">
            <div class="d-flex justify-content-center align-items-center" style="width: 80px; height: 80px;">
              <img src="{{ producto.image }}" alt="{{ producto.name }}" class="img-fluid img-thumbnail" 
                   style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;">
            </div>

            <p class="text-primary text-end">
              <strong>{{ (producto.price * producto.cantidad) | currency: 'EUR' }}</strong>
            </p>

            <i class="fa-solid fa-trash trash-icon text-danger ms-3" (click)="removeFromCart(producto)"></i>
          </div>
        }

        <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
          <h3 class="text-primary">TOTAL</h3>
          <p class="text-success"><strong>{{ productPrice | currency: 'EUR' }}</strong></p>
        </div>

        <div class="d-flex justify-content-center mb-5">
          <a routerLink="/checkout">
            <button style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; border-radius: 8px;">
              CONTINUAR CON EL PAGO
            </button>
          </a>
        </div>
      </div>
    </div>
  }
</div>
