<!-- Página 404 -->
<div class="page-not-found-container">
    <h1 class="custom-heading">4ㅤ4</h1>
    <img src="404.png" alt="404" class="errorImagen" style="width: 100%z;">
    <div class="overlay">
        <h1>- Página No Encontrada -</h1>
        <p>Lo sentimos, no hemos podido encontrar lo que buscas.</p>
        <button routerLink="/inicio" class="animated-button">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
            </svg>

            <a  class="text" style="color: white; text-decoration: none;">Volver al Inicio</a>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
            </svg>
        </button>
    </div>
</div>