<!-- Página de gestor de guitarras y accesorios -->
<body>
    <div class="d-flex flex-column align-items-center">
      <div class="welcome-text">
        <h1>Bienvenido al gestor de tus productos</h1>
        <p>Selecciona el producto que deseas gestionar.</p>
      </div>
      <div class="d-flex btn-group-custom">
        <a href="/gestionGuitarras" class="btn btn-custom btn-guitarras">Guitarras</a>
        <a href="/gestionAccesorios" class="btn btn-custom btn-accesorios">Accesorios</a>
      </div>
    </div>
  </body>