<!-- Página de contacto -->
<img src="banner.jpg" alt="banner" class="full-width-banner">
<div class="background">
    <body cz-shortcut-listen="true">
        <section class="ftco-section img bg-hero">
            <div class="container" id="overlay">
                <div class="row justify-content-center"
                    style="border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow: hidden;">
                    <div class="col-lg-11">
                        <div class="wrapper">
                            <div class="row no-gutters justify-content-between">
                                <div class="col-lg-6 d-flex align-items-stretch">
                                    <div class="info-wrap w-100 p-5">
                                        <h3 class="mb-4">Encuéntranos</h3>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-map-marker"></span>
                                            </div>
                                            <div class="text pl-4">
                                                <p><span>Dirección:</span> Calle Pintor Benedito 10 &, C/ de Jesús,
                                                    46007 Valencia</p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-phone"></span>
                                            </div>
                                            <div class="text pl-4">
                                                <p><span>Teléfono:</span> <a href="tel://963899640">96 389 96 40</a></p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-paper-plane"></span>
                                            </div>
                                            <div class="text pl-4">
                                                <p><span>Email:</span> <a
                                                        href="mailto:info@yoursite.com">info&copy;blancoguitars.com</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-globe"></span>
                                            </div>
                                            <div class="text pl-4">
                                                <p><span>Nuestra Web</span> <a href="#">https://www.blancoguitars.com/</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Contacto</h3>
                                        <div id="form-message-warning" class="mb-4"></div>
                                        <div id="form-message-success" class="mb-4">
                                            Nuestro equipo se pondrá en contacto contigo.
                                        </div>
                                        <form action="https://formsubmit.co/046928c64fb8902390596b5a7ad6cafe" method="POST">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group mb-3">
                                                        <input type="text" class="form-control" name="Nombre" id="name"
                                                            placeholder="Nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group mb-3">
                                                        <input type="email" class="form-control" name="email" id="email"
                                                            placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group mb-3">
                                                        <input type="text" class="form-control" name="Asunto"
                                                            id="subject" placeholder="Asunto">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group mb-3">
                                                        <textarea name="Mensaje" class="form-control" id="message"
                                                            cols="30" rows="5" placeholder="Mensaje"></textarea>
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-center">
                                                        <button>
                                                            <div class="svg-wrapper-1">
                                                                <div class="svg-wrapper">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 24 24" width="24" height="24">
                                                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                                                        <path fill="currentColor"
                                                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <span>Enviar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_next" value="http://localhost:4200/contacto">
                                            <input type="hidden" name="_captcha" value="false">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</div>