@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');

.chat-container {
  display: flex;
  flex-direction: column;
  width: 360px; 
  height: 640px; 
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #2a2a2a; 
  position: relative;
}

.chat-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 100%; 
}

.chat-message {
  margin-bottom: 10px;
}

.message-content {
  background-color: #d8f0ee;
  padding: 8px;
  border-radius: 5px;
}

.message-time {
  font-size: 0.8em;
  color: #ffffff;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #4a4a4a;
  position: relative;
  width: 100%;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.waiting-response {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.dot-container {
  display: flex;
  margin-left: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #007bff;
  border-radius: 50%;
  animation: dot-blink 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%, 20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  font-family: "Unbounded", sans-serif;
}
