#fondoFAQ{
  background-image: url("../../../../public/fondoFAQ.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
 }
 