<!-- Footer -->
<div class="container-fluid text-white p-3"
  style="font-family: 'Poppins', sans-serif; background: linear-gradient(to right, #24243e, #302b63, #0f0c29);">
  <div class="text-center mt-3">
    <h3 class="fw-bold">BLANCO GUITARS</h3>
    <p>Guitarras con visión de futuro y totalmente personalizadas. Fabricadas en la soleada España.</p>
    <a href="/inicio">
      <button class="btn btn-outline-light">Empieza Ya</button>
    </a> <!-- Puede que elimine este botón -->
  </div>
  <hr>
  <div class="row justify-content-around text-center text-md-start">
    <div class="col-md-2 text-center">
      <a href="/inicio">
        <img src="logoBlanco.png" class="logotipo" alt="sample" style="width: 170px;">
    </a>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold">Empresa</li>
        <li><a href="/inicio" class="text-decoration-none text-white">Inicio</a></li>
        <li><a href="/guitarras" class="text-decoration-none text-white">Guitarras</a></li>
        <li><a href="/accesorios" class="text-decoration-none text-white">Accesorios</a></li>
        <li><a href="https://online.fliphtml5.com/dlrxa/liza/#p=1" class="text-decoration-none text-white" target="_blank">Catálogo</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold">Información</li>
        <li><a href="/sobrenosotros" class="text-decoration-none text-white">Sobre nosotros</a></li>
        <li><a href="/contacto" class="text-decoration-none text-white">Contacto</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold">Ayuda</li>
        <li><a href="/faq" class="text-decoration-none text-white">FAQ</a></li>
        <li><a href="/terminos-y-condiciones" class="text-decoration-none text-white">Términos y condiciones</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5 class="fw-bold  d-flex justify-content-center">Síguenos</h5>
      <ul class="list-unstyled d-flex justify-content-center">
        <li><a href="https://www.facebook.com/people/Blanco-Guitars/61561972316166/" class="text-white me-2"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://chat.whatsapp.com/JSrolWH0mwjIqTkDsOuvI6" class="text-white mx-2"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="https://youtu.be/CeIqE0JGPHY?si=2Wg0Ij9k9oncwRh5" class="text-white mx-2"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/blanco_guitars/" class="text-white mx-2"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
      
    </div>
  </div>
  <hr>
  <div class="text-center pt-2">
    <p>&copy; 2025 Copyright <a href="https://github.com/nicolascastellanosmena" class="text-white">By Nico</a></p>
  </div>
</div>
