<!-- Página Sobre Nosotros -->
<img src="banner3.jpg" alt="banner" class="full-width-banner">

<div id="background">
    <div class="container py-5">
        <div class="row mb-5 text-center">
            <div class="col-md-6 mx-auto">
                <p class="text-black">
                    Blanco Guitars nace de la pasión de Manuel Harari Blanco por la música y su sueño de fabricar
                    guitarras
                    de alta calidad, hechas a mano en España. Aunque la marca está dando sus primeros pasos, pronto
                    saldrán
                    al mercado guitarras diseñadas para ofrecer una experiencia única a músicos de todo el mundo.
                </p>
            </div>
        </div>


        <div class="col-12 text-center mb-4 border">
            <h2 class="h4 text-black">Descubre más sobre nosotros</h2>
            <p class="text-black">
                El alma de una guitarra está en su sonido. Escucha nuestras pruebas y siente la diferencia.
            </p>
        </div>

        <div class="col-12 d-flex justify-content-around flex-wrap">
            <video width="300" controls class="mb-3" style="border-radius: 8px">
                <source src="video 1.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
            <video width="300" controls class="mb-3" style="border-radius: 8px">
                <source src="video 2.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>
        <hr>
        <a href="https://linktr.ee/BlancoGuitarsTFG" target="_blank" class="d-flex justify-content-center">
            <img id="QR" src="qr.png" alt="enlaceQR" class="img-fluid" style="width: 18%; max-width: 200px;">
        </a>

    </div>
</div>